@import url(antd.css);
html {
  position: relative;
  min-height: 100%; }

body {
  font-family: "Titillium Web", sans-serif !important;
  background: #f8f8f8 !important;
  margin-bottom: 75px !important;
  /* Margin bottom by footer height */
  padding-left: env(safe-area-inset-left);
  padding-right: env(safe-area-inset-right);
  font-size: 12px !important;
  color: rgba(0, 0, 0, 0.65); }

.full-width {
  width: 100%; }
