.auth {
    width: 100%;
    padding: 6% 0 0 0; 
    height: 100%;

    @media screen and (max-width: 768px) {
        padding-top: 30px;
    }

    &__header {
        width: 100%;
        text-align: center;

    }
    &__content { 
        max-width: 368px;
        padding: 0 10px;
        margin: 0 auto;
        margin-top: 20px;

        .ant-input{height: 40px;}
        .ant-form-item-label {line-height: 32px;}
    }
}